header {
  border-radius: 9999px; /* Full rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

nav a {
  padding: 0.125rem 0.25rem; /* Smaller padding */
  margin: 0.125rem; /* Add margin */
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px; /* Full rounded corners */
  background-color: white;
  color: #3182ce;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #e0e0e0;
}
body {
  background-color: #f7fafc;
  color: #2d3748;
  font-family: 'Arial', sans-serif;
}

a {
  color: #3182ce;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
